<a href="https://colab.research.google.com/github/ManjunathD620/Real_Estate_Price_prediction_using_DNN/blob/main/Real_Estate_Price_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv("/content/Real estate.csv")
data.head()

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1             2012.917  ...     121.54024                        37.9
1   2             2012.917  ...     121.53951                        42.2
2   3             2013.583  ...     121.54391                        47.3
3   4             2013.500  ...     121.54391                        54.8
4   5             2012.833  ...     121.54245                        43.1

[5 rows x 8 columns]

In [ ]:
data = data.iloc[:, 1:]
x = data.drop("Y house price of unit area" ,axis=1).values
y = data["Y house price of unit area"].values
print(x.shape)
print(y.shape)

(414, 6)
(414,)

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30, random_state=10)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(1000, input_dim=6, activation="relu"))
model.add(Dense(500, activation="relu"))
model.add(Dense(300, activation="relu"))
model.add(Dense(100, activation="relu"))
model.add(Dense(12, activation="relu"))
model.add(Dense(1))

model.compile(loss="mean_squared_error", optimizer="adam", metrics=["mean_squared_error"])

In [ ]:
model.fit(x_train,y_train, epochs=20, batch_size=10,validation_data=(x_test,y_test))

Epoch 1/20
29/29 [==============================] - 0s 13ms/step - loss: 89.3092 - mean_squared_error: 89.3092 - val_loss: 74.4881 - val_mean_squared_error: 74.4881
Epoch 2/20
29/29 [==============================] - 0s 10ms/step - loss: 76.0779 - mean_squared_error: 76.0779 - val_loss: 76.5144 - val_mean_squared_error: 76.5144
Epoch 3/20
29/29 [==============================] - 0s 10ms/step - loss: 79.9532 - mean_squared_error: 79.9532 - val_loss: 79.6387 - val_mean_squared_error: 79.6387
Epoch 4/20
29/29 [==============================] - 0s 10ms/step - loss: 83.5932 - mean_squared_error: 83.5932 - val_loss: 74.4267 - val_mean_squared_error: 74.4267
Epoch 5/20
29/29 [==============================] - 0s 11ms/step - loss: 80.5771 - mean_squared_error: 80.5771 - val_loss: 86.4248 - val_mean_squared_error: 86.4248
Epoch 6/20
29/29 [==============================] - 0s 10ms/step - loss: 83.4825 - mean_squared_error: 83.4825 - val_loss: 112.9044 - val_mean_squared_error: 112.9044
Epoch 7/20
29/29 [==============================] - 0s 12ms/step - loss: 95.2469 - mean_squared_error: 95.2469 - val_loss: 73.5853 - val_mean_squared_error: 73.5853
Epoch 8/20
29/29 [==============================] - 0s 10ms/step - loss: 81.5791 - mean_squared_error: 81.5791 - val_loss: 102.2804 - val_mean_squared_error: 102.2804
Epoch 9/20
29/29 [==============================] - 0s 10ms/step - loss: 84.0669 - mean_squared_error: 84.0669 - val_loss: 78.9287 - val_mean_squared_error: 78.9287
Epoch 10/20
29/29 [==============================] - 0s 10ms/step - loss: 79.6978 - mean_squared_error: 79.6978 - val_loss: 74.2351 - val_mean_squared_error: 74.2351
Epoch 11/20
29/29 [==============================] - 0s 10ms/step - loss: 79.5520 - mean_squared_error: 79.5520 - val_loss: 75.8461 - val_mean_squared_error: 75.8461
Epoch 12/20
29/29 [==============================] - 0s 11ms/step - loss: 75.0052 - mean_squared_error: 75.0052 - val_loss: 119.5876 - val_mean_squared_error: 119.5876
Epoch 13/20
29/29 [==============================] - 0s 10ms/step - loss: 92.9307 - mean_squared_error: 92.9307 - val_loss: 81.8138 - val_mean_squared_error: 81.8138
Epoch 14/20
29/29 [==============================] - 0s 10ms/step - loss: 83.0011 - mean_squared_error: 83.0011 - val_loss: 91.0596 - val_mean_squared_error: 91.0596
Epoch 15/20
29/29 [==============================] - 0s 10ms/step - loss: 80.4313 - mean_squared_error: 80.4313 - val_loss: 72.9665 - val_mean_squared_error: 72.9665
Epoch 16/20
29/29 [==============================] - 0s 9ms/step - loss: 78.7222 - mean_squared_error: 78.7222 - val_loss: 77.6186 - val_mean_squared_error: 77.6186
Epoch 17/20
29/29 [==============================] - 0s 11ms/step - loss: 77.2151 - mean_squared_error: 77.2151 - val_loss: 75.4983 - val_mean_squared_error: 75.4983
Epoch 18/20
29/29 [==============================] - 0s 12ms/step - loss: 80.2529 - mean_squared_error: 80.2529 - val_loss: 84.0039 - val_mean_squared_error: 84.0039
Epoch 19/20
29/29 [==============================] - 0s 10ms/step - loss: 77.6057 - mean_squared_error: 77.6057 - val_loss: 73.0313 - val_mean_squared_error: 73.0313
Epoch 20/20
29/29 [==============================] - 0s 10ms/step - loss: 76.6811 - mean_squared_error: 76.6811 - val_loss: 77.8382 - val_mean_squared_error: 77.8382

In [ ]:
model.evaluate(x_test,y_test)

4/4 [==============================] - 0s 5ms/step - loss: 77.8383 - mean_squared_error: 77.8383

[77.8382568359375, 77.8382568359375]

In [ ]:
import random
import numpy as np

rand = random.randint(0,x_test.shape[0])
subject = x_test[rand]
subject = np.expand_dims(subject,axis=0)
prediction = model.predict(subject)
print("Predicted = "+str(round(prediction[0][0]))+"\n"+"actual = "+str(y_test[rand]))

Predicted = 36
actual = 40.8